html {
  height: 100%;
  width: 100%;
}
form {
background-color: pastel green;
h1 { color:firebrick;font-family:Verdana;}
b {color:indianred;}
label {font-size: 15px; font-weight:bold;}
input {background-color:yellow;}
textarea {background-color: ivory;}
}
.header{background-color:blue; text-align: center; padding:20px;}
.topnav{overflow: hidden; background-color:lightgrey;}
.topnav a{float: left; display: block; color: purple; text-align: center; padding: 14px 16px;}
.topnav a:hover{background-color: lightblue; color: darkred;}
.column{float: left;}
.column.side{width: 50%;}
.column.middle{width: 90%;}
